# =========================
# SECURITY
# =========================
SECRET_KEY=any_64_character_random_string
HUGGINGFACEHUB_API_TOKEN=your_huggingface_api_token

# =========================
# INITIAL USERS
# =========================
INITIAL_ADMIN_EMAIL=admin@example.com
INITIAL_ADMIN_PASSWORD=adminpassword

INITIAL_STAFF_EMAIL=staff@example.com
INITIAL_STAFF_PASSWORD=staffpassword

INITIAL_USER_EMAIL=user@example.com
INITIAL_USER_PASSWORD=userpassword

# =========================
# DATABASE
# =========================
DATABASE_URL=sqlite:///./dms.db
