fastapi==0.111.0
uvicorn==0.30.0
python-dotenv==1.0.1

sqlalchemy==2.0.30

python-jose==3.3.0
python-multipart==0.0.9

huggingface_hub==0.20.3
langchain-huggingface==0.0.3
langchain-community==0.2.5
langchain-text-splitters==0.2.2
langchain_chroma==0.1.2
chromadb==0.5.0
pypdf==4.2.0
